In [ ]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [ ]:
df = pd.read_csv("sample.csv")

In [ ]:
df

   sno             name   age   salary     designation        mobile
0    1    shabeeh abaas  23.0  $20,000         manager  9.140098e+09
1    2  kashish agrawal  21.0  $23,000        manager   3.242343e+08
2    3     nisha shukla  22.0  $32,000  region manager  2.903482e+09
3    4     kriti rajput  22.0   $3,333             NaN           NaN
4    5     deepak gupta  23.0  $33,000         manager  2.343243e+08
5    6     mayank singh  23.0      NaN  region manager  2.334243e+08
6    7     aditya sagar   NaN  $23,333         manager  2.342423e+09
7    8         prashant  22.0   $3,333        director  2.324343e+07

In [ ]:
df.isnull()

     sno   name    age  salary  designation  mobile
0  False  False  False   False        False   False
1  False  False  False   False        False   False
2  False  False  False   False        False   False
3  False  False  False   False         True    True
4  False  False  False   False        False   False
5  False  False  False    True        False   False
6  False  False   True   False        False   False
7  False  False  False   False        False   False

In [ ]:
df.isnull().sum()

sno            0
name           0
age            1
salary         1
designation    1
mobile         1
dtype: int64

In [ ]:
df["name"].value_counts()

shabeeh abaas      1
kashish agrawal    1
nisha shukla       1
kriti rajput       1
deepak gupta       1
mayank singh       1
aditya sagar       1
prashant           1
Name: name, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sno          8 non-null      int64
 1   name         8 non-null      object
 2   age          7 non-null      float64
 3   salary       7 non-null      object
 4   designation  7 non-null      object
 5   mobile       7 non-null      float64
dtypes: float64(2), int64(1), object(3)
memory usage: 512.0+ bytes

In [ ]:
df

   sno             name   age   salary     designation        mobile
0    1    shabeeh abaas  23.0  $20,000         manager  9.140098e+09
1    2  kashish agrawal  21.0  $23,000        manager   3.242343e+08
2    3     nisha shukla  22.0  $32,000  region manager  2.903482e+09
3    4     kriti rajput  22.0   $3,333             NaN           NaN
4    5     deepak gupta  23.0  $33,000         manager  2.343243e+08
5    6     mayank singh  23.0      NaN  region manager  2.334243e+08
6    7     aditya sagar   NaN  $23,333         manager  2.342423e+09
7    8         prashant  22.0   $3,333        director  2.324343e+07

In [ ]:
def salary_clean(salary):
    if isinstance(salary,str):
        salary = salary.strip()
        if '$' in salary:
            salary = salary.replace('$','')
        if ',' in salary:
            salary = salary.replace(',','')
        return int(salary)
    return salary

In [ ]:
# test run
df['salary'].apply(salary_clean)

0    20000.0
1    23000.0
2    32000.0
3     3333.0
4    33000.0
5        NaN
6    23333.0
7     3333.0
Name: salary, dtype: float64

In [ ]:
# final run
df['salary'] = df['salary'].apply(salary_clean)
df

   sno             name   age   salary     designation        mobile
0    1    shabeeh abaas  23.0  20000.0         manager  9.140098e+09
1    2  kashish agrawal  21.0  23000.0        manager   3.242343e+08
2    3     nisha shukla  22.0  32000.0  region manager  2.903482e+09
3    4     kriti rajput  22.0   3333.0             NaN           NaN
4    5     deepak gupta  23.0  33000.0         manager  2.343243e+08
5    6     mayank singh  23.0      NaN  region manager  2.334243e+08
6    7     aditya sagar   NaN  23333.0         manager  2.342423e+09
7    8         prashant  22.0   3333.0        director  2.324343e+07

In [ ]:
# test run
df.drop(['mobile','sno','name'],axis=1)

    age   salary     designation
0  23.0  20000.0         manager
1  21.0  23000.0        manager
2  22.0  32000.0  region manager
3  22.0   3333.0             NaN
4  23.0  33000.0         manager
5  23.0      NaN  region manager
6   NaN  23333.0         manager
7  22.0   3333.0        director

In [ ]:
# final run
df.drop(['mobile','sno','name'],axis=1, inplace=True)

In [ ]:
df

    age   salary     designation
0  23.0  20000.0         manager
1  21.0  23000.0        manager
2  22.0  32000.0  region manager
3  22.0   3333.0             NaN
4  23.0  33000.0         manager
5  23.0      NaN  region manager
6   NaN  23333.0         manager
7  22.0   3333.0        director

In [ ]:
imputer = SimpleImputer()

In [ ]:
# trail run
cols = ['age','salary']
imputer.fit_transform(df[cols])

array([[2.30000000e+01, 2.00000000e+04],
       [2.10000000e+01, 2.30000000e+04],
       [2.20000000e+01, 3.20000000e+04],
       [2.20000000e+01, 3.33300000e+03],
       [2.30000000e+01, 3.30000000e+04],
       [2.30000000e+01, 1.97141429e+04],
       [2.22857143e+01, 2.33330000e+04],
       [2.20000000e+01, 3.33300000e+03]])

In [ ]:
# actual run
cols = ['age','salary']
df[cols]= imputer.fit_transform(df[cols])

In [ ]:
df

         age        salary     designation
0  23.000000  20000.000000         manager
1  21.000000  23000.000000        manager
2  22.000000  32000.000000  region manager
3  22.000000   3333.000000             NaN
4  23.000000  33000.000000         manager
5  23.000000  19714.142857  region manager
6  22.285714  23333.000000         manager
7  22.000000   3333.000000        director

In [ ]:
df['designation'].value_counts()

manager           3
region manager    2
manager           1
director          1
Name: designation, dtype: int64

In [ ]:
# trial run
imp2 = SimpleImputer(strategy='most_frequent')
imp2.fit_transform(df[['designation']])

array([['manager'],
       ['manager '],
       ['region manager'],
       ['manager'],
       ['manager'],
       ['region manager'],
       ['manager'],
       ['director']], dtype=object)

In [ ]:
# actual run
df['designation'] = imp2.fit_transform(df[['designation']])

In [ ]:
df

         age        salary     designation
0  23.000000  20000.000000         manager
1  21.000000  23000.000000        manager
2  22.000000  32000.000000  region manager
3  22.000000   3333.000000         manager
4  23.000000  33000.000000         manager
5  23.000000  19714.142857  region manager
6  22.285714  23333.000000         manager
7  22.000000   3333.000000        director

In [ ]:
df[['designation']].ndim

2

In [ ]:
gender = ['Male','Female']*4

In [ ]:
df['Gender'] = gender

In [ ]:
df

         age        salary     designation  Gender
0  23.000000  20000.000000         manager    Male
1  21.000000  23000.000000        manager   Female
2  22.000000  32000.000000  region manager    Male
3  22.000000   3333.000000         manager  Female
4  23.000000  33000.000000         manager    Male
5  23.000000  19714.142857  region manager  Female
6  22.285714  23333.000000         manager    Male
7  22.000000   3333.000000        director  Female

In [ ]:
df.rename({'salary':'Pay'},axis=1,inplace=True)

In [ ]:
df.loc[0]

age               23.0
Pay            20000.0
designation    manager
Gender            Male
Name: 0, dtype: object

In [ ]:
row = [
    {
    'age':19,
    'Pay':93291,
    'designation':'manager',
    "Gender":'Male'
    }]

In [ ]:
df = df.append(row,ignore_index=True)

In [ ]:
df

         age           Pay     designation  Gender
0  23.000000  20000.000000         manager    Male
1  21.000000  23000.000000        manager   Female
2  22.000000  32000.000000  region manager    Male
3  22.000000   3333.000000         manager  Female
4  23.000000  33000.000000         manager    Male
5  23.000000  19714.142857  region manager  Female
6  22.285714  23333.000000         manager    Male
7  22.000000   3333.000000        director  Female
8  19.000000  93291.000000         manager    Male

In [ ]:
df['Gender'].value_counts()

Male      5
Female    4
Name: Gender, dtype: int64

In [ ]:
gender_enc = LabelEncoder()
gender_enc.fit(df['Gender'])

LabelEncoder()

In [ ]:
gender_enc.transform(df['Gender'])

array([1, 0, 1, 0, 1, 0, 1, 0, 1])

In [ ]:
df['Gender'] = gender_enc.transform(df['Gender'])
df

         age           Pay     designation  Gender
0  23.000000  20000.000000         manager       1
1  21.000000  23000.000000        manager        0
2  22.000000  32000.000000  region manager       1
3  22.000000   3333.000000         manager       0
4  23.000000  33000.000000         manager       1
5  23.000000  19714.142857  region manager       0
6  22.285714  23333.000000         manager       1
7  22.000000   3333.000000        director       0
8  19.000000  93291.000000         manager       1

In [ ]:
gender_enc.classes_

array(['Female', 'Male'], dtype=object)

In [ ]:
gender_enc.inverse_transform([0,1,1]) # decode

array(['Female', 'Male', 'Male'], dtype=object)

In [ ]:
df.designation.unique()

array(['manager', 'manager ', 'region manager', 'director'], dtype=object)

In [ ]:
df.designation.nunique()

4

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
design_enc = OneHotEncoder(drop = 'first')
design_enc.fit(df[['designation']])

OneHotEncoder(drop='first')

In [ ]:
designation_dummies = design_enc.transform(df[['designation']]).toarray()
designation_dummies

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 0.],
       [1., 0., 0.]])

In [ ]:
df.drop(columns=['designation'],axis=1,inplace=True)

In [ ]:
import numpy as np

In [ ]:
data = np.hstack((designation_dummies,df.values))

In [ ]:
data.shape

(9, 6)

In [ ]:
data

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.30000000e+01,
        2.00000000e+04, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 2.10000000e+01,
        2.30000000e+04, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.20000000e+01,
        3.20000000e+04, 1.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.20000000e+01,
        3.33300000e+03, 0.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.30000000e+01,
        3.30000000e+04, 1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.30000000e+01,
        1.97141429e+04, 0.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.22857143e+01,
        2.33330000e+04, 1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.20000000e+01,
        3.33300000e+03, 0.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.90000000e+01,
        9.32910000e+04, 1.00000000e+00]])

In [ ]:
desig_dummies1 = pd.DataFrame(data)
desig_dummies1

     0    1    2          3             4    5
0  1.0  0.0  0.0  23.000000  20000.000000  1.0
1  0.0  1.0  0.0  21.000000  23000.000000  0.0
2  0.0  0.0  1.0  22.000000  32000.000000  1.0
3  1.0  0.0  0.0  22.000000   3333.000000  0.0
4  1.0  0.0  0.0  23.000000  33000.000000  1.0
5  0.0  0.0  1.0  23.000000  19714.142857  0.0
6  1.0  0.0  0.0  22.285714  23333.000000  1.0
7  0.0  0.0  0.0  22.000000   3333.000000  0.0
8  1.0  0.0  0.0  19.000000  93291.000000  1.0

In [ ]:
#option 2 better one
desig_dummies = pd.DataFrame(designation_dummies)

In [ ]:
desig_dummies

     0    1    2
0  1.0  0.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  1.0
3  1.0  0.0  0.0
4  1.0  0.0  0.0
5  0.0  0.0  1.0
6  1.0  0.0  0.0
7  0.0  0.0  0.0
8  1.0  0.0  0.0

In [ ]:
df

         age           Pay  Gender
0  23.000000  20000.000000       1
1  21.000000  23000.000000       0
2  22.000000  32000.000000       1
3  22.000000   3333.000000       0
4  23.000000  33000.000000       1
5  23.000000  19714.142857       0
6  22.285714  23333.000000       1
7  22.000000   3333.000000       0
8  19.000000  93291.000000       1

In [ ]:
data_df = pd.concat((desig_dummies,df),axis = 1)

In [ ]:
data_df

     0    1    2        age           Pay  Gender
0  1.0  0.0  0.0  23.000000  20000.000000       1
1  0.0  1.0  0.0  21.000000  23000.000000       0
2  0.0  0.0  1.0  22.000000  32000.000000       1
3  1.0  0.0  0.0  22.000000   3333.000000       0
4  1.0  0.0  0.0  23.000000  33000.000000       1
5  0.0  0.0  1.0  23.000000  19714.142857       0
6  1.0  0.0  0.0  22.285714  23333.000000       1
7  0.0  0.0  0.0  22.000000   3333.000000       0
8  1.0  0.0  0.0  19.000000  93291.000000       1

In [ ]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [ ]:
mxScaler = MinMaxScaler()
mxScaler.fit(data_df)
scaled_data = mxScaler.transform(data_df)
print(scaled_data)

[[1.         0.         0.         1.         0.18527535 1.        ]
 [0.         1.         0.         0.5        0.21862425 0.        ]
 [0.         0.         1.         0.75       0.31867094 1.        ]
 [1.         0.         0.         0.75       0.         0.        ]
 [1.         0.         0.         1.         0.32978723 1.        ]
 [0.         0.         1.         1.         0.18209768 0.        ]
 [1.         0.         0.         0.82142857 0.22232597 1.        ]
 [0.         0.         0.         0.75       0.         0.        ]
 [1.         0.         0.         0.         1.         1.        ]]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [ ]:
#we will always  perform this method
stdScaler = StandardScaler()
stdScaler.fit(data_df)
scaled_data = stdScaler.transform(data_df)
print(scaled_data)

[[ 0.89442719 -0.35355339 -0.53452248  0.89722568 -0.31348648  0.89442719]
 [-1.11803399  2.82842712 -0.53452248 -0.76528073 -0.19428027 -1.11803399]
 [-1.11803399 -0.35355339  1.87082869  0.06597248  0.16333837  0.89442719]
 [ 0.89442719 -0.35355339 -0.53452248  0.06597248 -0.97575646 -1.11803399]
 [ 0.89442719 -0.35355339 -0.53452248  0.89722568  0.20307377  0.89442719]
 [-1.11803399 -0.35355339  1.87082869  0.89722568 -0.32484513 -1.11803399]
 [ 0.89442719 -0.35355339 -0.53452248  0.30347339 -0.18104838  0.89442719]
 [-1.11803399 -0.35355339 -0.53452248  0.06597248 -0.97575646 -1.11803399]
 [ 0.89442719 -0.35355339 -0.53452248 -2.42778714  2.59876102  0.89442719]]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,