# the concept of sklearn preprocessors

1. loading the data
2. sklearn preprocessing package
    - Convert string values to Numeric values
        - Label Encoder 
        - One Hot Encoder
    - Handle missing values
        - Imputer
    - Scale the column (feature scaling)
        - Standard Scaler 
 3. Working with sklearn is different
    - first u get the data
    - the you create an object of a particular class of preprocessor using constructor
    ```
    from sklearn.preprocessing import LabelEncoder
    species_enc = LabelEncoder()
    ```
    - the you fit the data, meaning make preprocessor understand and calculate the data of a column(s)
    ```
    species_enc.fit(dataframe['species'])
    ```
    - then u get the converted data from the preprocessor using the transform functions
    ```
    dataframe['species'] = species_enc.transform() 
    ```
    or use shorter version 
    ```
    dataframe['species'] = species_enc.fit_transform(dataframe['species']
    ```

# Lets do some code

In [49]:
import pandas as pd
import numpy as np
import seaborn as sns

In [50]:
df = sns.load_dataset('penguins')

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

## handle missing values

In [52]:
from sklearn.impute import SimpleImputer

In [53]:
imputer = SimpleImputer()

In [54]:
cols = ['culmen_length_mm','culmen_depth_mm','flipper_length_mm','body_mass_g']
df[cols] = imputer.fit_transform(df[cols])

In [55]:
df['sex'].replace(np.nan,df['sex'].value_counts().idxmax(), inplace=True)

In [56]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [57]:
gender_label_encoder = LabelEncoder()
df['sex'] = gender_label_encoder.fit_transform(df['sex'])

In [58]:
df.head()

  species     island  culmen_length_mm  ...  flipper_length_mm  body_mass_g  sex
0  Adelie  Torgersen          39.10000  ...         181.000000  3750.000000    1
1  Adelie  Torgersen          39.50000  ...         186.000000  3800.000000    0
2  Adelie  Torgersen          40.30000  ...         195.000000  3250.000000    0
3  Adelie  Torgersen          43.92193  ...         200.915205  4201.754386    1
4  Adelie  Torgersen          36.70000  ...         193.000000  3450.000000    0

[5 rows x 7 columns]

In [59]:
species_hot_encoder = OneHotEncoder()
species_cols = species_hot_encoder.fit_transform(df[['species']]).toarray()

In [60]:
island_hot_encoder = OneHotEncoder()
island_cols = island_hot_encoder.fit_transform(df[['island']]).toarray()

In [61]:
species_cols

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       ...,
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [62]:
island_cols

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       ...,
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [63]:
df

    species     island  culmen_length_mm  ...  flipper_length_mm  body_mass_g  sex
0    Adelie  Torgersen          39.10000  ...         181.000000  3750.000000    1
1    Adelie  Torgersen          39.50000  ...         186.000000  3800.000000    0
2    Adelie  Torgersen          40.30000  ...         195.000000  3250.000000    0
3    Adelie  Torgersen          43.92193  ...         200.915205  4201.754386    1
4    Adelie  Torgersen          36.70000  ...         193.000000  3450.000000    0
..      ...        ...               ...  ...                ...          ...  ...
339  Gentoo     Biscoe          43.92193  ...         200.915205  4201.754386    1
340  Gentoo     Biscoe          46.80000  ...         215.000000  4850.000000    0
341  Gentoo     Biscoe          50.40000  ...         222.000000  5750.000000    1
342  Gentoo     Biscoe          45.20000  ...         212.000000  5200.000000    0
343  Gentoo     Biscoe          49.90000  ...         213.000000  5400.000000    1

[344 rows x 7 columns]

Join the data and dummies

In [70]:
data = np.append(species_cols,island_cols,axis=1)

In [71]:
data = np.append(data ,df[['culmen_length_mm','culmen_depth_mm','flipper_length_mm','body_mass_g','sex']],axis=1)

Scaling of data

In [73]:
from sklearn.preprocessing import StandardScaler

In [74]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)
scaled_data

array([[ 1.12390297, -0.49636359, -0.75075719, ..., -1.42248782,
        -0.56578921,  0.96009776],
       [ 1.12390297, -0.49636359, -0.75075719, ..., -1.06535169,
        -0.50316788, -1.0415606 ],
       [ 1.12390297, -0.49636359, -0.75075719, ..., -0.42250666,
        -1.19200251, -1.0415606 ],
       ...,
       [-0.88975652, -0.49636359,  1.33198857, ...,  1.50602843,
         1.93906399,  0.96009776],
       [-0.88975652, -0.49636359,  1.33198857, ...,  0.79175618,
         1.25022936, -1.0415606 ],
       [-0.88975652, -0.49636359,  1.33198857, ...,  0.8631834 ,
         1.50071468,  0.96009776]])

#task 1

In [16]:
df = sns.load_dataset('planets')
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [18]:
from sklearn.impute import SimpleImputer

In [19]:
impute = SimpleImputer()
df[['orbital_period','mass','distance']] = impute.fit_transform(df[['orbital_period','mass','distance']])
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  1035 non-null   float64
 3   mass            1035 non-null   float64
 4   distance        1035 non-null   float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [24]:
df['method'].unique() # its more than 2 so we use ONEHOTENCODER

array(['Radial Velocity', 'Imaging', 'Eclipse Timing Variations',
       'Transit', 'Astrometry', 'Transit Timing Variations',
       'Orbital Brightness Modulation', 'Microlensing', 'Pulsar Timing',
       'Pulsation Timing Variations'], dtype=object)

In [22]:
from sklearn.preprocessing import OneHotEncoder

In [27]:
method_enc = OneHotEncoder()
method_col_dummies = method_enc.fit_transform(df[['method']]).toarray()
method_col_dummies

array([[0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

#### error msg 
```Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.```

#### solution
use double square brackets or the reshape function
`df[['method']]`

In [ ]:
method_encoder = OneHotEncoder()
method_dummies = method_encoder.fit_transform(df[['method']]).toarray()
method_dummies

array([[0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

1 - imputer done
2 - encoding done

# task 2

In [ ]:
df2 = pd.read_csv('/content/drive/My Drive/courses/data analytics basics/datasets/data.csv')
df2.head()

   country    salary   age happy
0  germany   49000.0  35.0   yes
1    spain   10000.0  30.0    no
2    italy  230000.0  39.0    no
3    spain  200000.0  30.0   yes
4    italy  300000.0  30.0   yes

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  11 non-null     object
 1   salary   10 non-null     float64
 2   age      10 non-null     float64
 3   happy    11 non-null     object
dtypes: float64(2), object(2)
memory usage: 480.0+ bytes

In [ ]:
imputer2 = SimpleImputer()
df2[['salary','age']] = imputer2.fit_transform(df2[['salary','age']])
df2.head()

   country    salary   age happy
0  germany   49000.0  35.0   yes
1    spain   10000.0  30.0    no
2    italy  230000.0  39.0    no
3    spain  200000.0  30.0   yes
4    italy  300000.0  30.0   yes

In [ ]:
country_encoder = OneHotEncoder()
country_dummies = country_encoder.fit_transform(df2[['country']]).toarray()
country_dummies

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
happy_encoder = LabelEncoder()
df2['happy'] = happy_encoder.fit_transform(df2['happy'])

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  11 non-null     object
 1   salary   11 non-null     float64
 2   age      11 non-null     float64
 3   happy    11 non-null     int64
dtypes: float64(2), int64(1), object(1)
memory usage: 480.0+ bytes

In [ ]:
df2

    country    salary   age  happy
0   germany   49000.0  35.0      1
1     spain   10000.0  30.0      0
2     italy  230000.0  39.0      0
3     spain  200000.0  30.0      1
4     italy  300000.0  30.0      1
5     spain   31000.0  23.0      0
6   germany  179000.0  34.0      1
7     spain  400000.0  31.0      1
8     italy  200000.0  29.0      0
9     italy  340000.0  35.0      1
10  germany   30000.0  25.0      1

1 - imputer
2 - HotEncoder
3 - LabelEncoder

# Task 3

In [ ]:
# url https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
df3 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data',header=None)
df3.head()

   0    1            2    3    4     5   ...    20   21    22  23  24     25
0   3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  13495
1   3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  16500
2   1    ?  alfa-romero  gas  std   two  ...   9.0  154  5000  19  26  16500
3   2  164         audi  gas  std  four  ...  10.0  102  5500  24  30  13950
4   2  164         audi  gas  std  four  ...   8.0  115  5500  18  22  17450

[5 rows x 26 columns]

In [ ]:
col_names = ['symboling','normalized-losses','make','fuel-type','aspiration',
             'num-of-doors','body-style','drive-wheels','engine-location',
             'wheel-base','length','width','height','curb-weight','engine-type',
             'num-of-cylinders','engine-size','fuel-system','bore','stroke',
             'compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price']
len(col_names)

26

In [ ]:
df3.columns = col_names

In [ ]:
df3.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [ ]:
df3.replace('?',np.nan,inplace=True)
df3.head(10)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  13495
1          3               NaN  alfa-romero  ...       21          27  16500
2          1               NaN  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450
5          2               NaN         audi  ...       19          25  15250
6          1               158         audi  ...       19          25  17710
7          1               NaN         audi  ...       19          25  18920
8          1               158         audi  ...       17          20  23875
9          0               NaN         audi  ...       16          22    NaN

[10 rows x 26 columns]

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

####use imputer and encoder on task 3

# task 4
use encoder on task 4

In [ ]:
# https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/Canada.xlsx

In [29]:
df = pd.read_excel('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/Canada.xlsx',
              skiprows=20,
              sheet_name='Canada by Citizenship',
              skipfooter=2)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Type      195 non-null    object
 1   Coverage  195 non-null    object
 2   OdName    195 non-null    object
 3   AREA      195 non-null    int64
 4   AreaName  195 non-null    object
 5   REG       195 non-null    int64
 6   RegName   195 non-null    object
 7   DEV       195 non-null    int64
 8   DevName   195 non-null    object
 9   1980      195 non-null    int64
 10  1981      195 non-null    int64
 11  1982      195 non-null    int64
 12  1983      195 non-null    int64
 13  1984      195 non-null    int64
 14  1985      195 non-null    int64
 15  1986      195 non-null    int64
 16  1987      195 non-null    int64
 17  1988      195 non-null    int64
 18  1989      195 non-null    int64
 19  1990      195 non-null    int64
 20  1991      195 non-null    int64
 21  1992      195 non-null    int64
 22  1993      195 non-null    int64
 23  1994      195 non-null    int64
 24  1995      195 non-null    int64
 25  1996      195 non-null    int64
 26  1997      195 non-null    int64
 27  1998      195 non-null    int64
 28  1999      195 non-null    int64
 29  2000      195 non-null    int64
 30  2001      195 non-null    int64
 31  2002      195 non-null    int64
 32  2003      195 non-null    int64
 33  2004      195 non-null    int64
 34  2005      195 non-null    int64
 35  2006      195 non-null    int64
 36  2007      195 non-null    int64
 37  2008      195 non-null    int64
 38  2009      195 non-null    int64
 39  2010      195 non-null    int64
 40  2011      195 non-null    int64
 41  2012      195 non-null    int64
 42  2013      195 non-null    int64
dtypes: int64(37), object(6)
memory usage: 65.6+ KB

In [32]:
df['Type'].unique() # since only 1 value is their, no need of this column in machine learning so we will drop it

array(['Immigrants'], dtype=object)

In [33]:
df['Coverage'].unique()

array(['Foreigners', 'Citizens'], dtype=object)

In [34]:
coverage_enc = LabelEncoder()
df['Coverage'] = coverage_enc.fit_transform(df['Coverage'])
df.head(10)

         Type  Coverage               OdName  AREA  ...  2010  2011  2012  2013
0  Immigrants         1          Afghanistan   935  ...  1758  2203  2635  2004
1  Immigrants         1              Albania   908  ...   561   539   620   603
2  Immigrants         1              Algeria   903  ...  4752  4325  3774  4331
3  Immigrants         1       American Samoa   909  ...     0     0     0     0
4  Immigrants         1              Andorra   908  ...     0     0     1     1
5  Immigrants         1               Angola   903  ...    61    39    70    45
6  Immigrants         1  Antigua and Barbuda   904  ...    27    37    51    25
7  Immigrants         1            Argentina   904  ...   459   278   263   282
8  Immigrants         1              Armenia   935  ...   252   236   258   207
9  Immigrants         1            Australia   909  ...   933   851   982  1121

[10 rows x 43 columns]

In [36]:
df.drop(['Type'],axis=1, inplace=True)

In [37]:
df.head()

   Coverage          OdName  AREA AreaName   REG  ...  2009  2010  2011  2012  2013
0         1     Afghanistan   935     Asia  5501  ...  1746  1758  2203  2635  2004
1         1         Albania   908   Europe   925  ...   716   561   539   620   603
2         1         Algeria   903   Africa   912  ...  5393  4752  4325  3774  4331
3         1  American Samoa   909  Oceania   957  ...     0     0     0     0     0
4         1         Andorra   908   Europe   925  ...     0     0     0     1     1

[5 rows x 42 columns]

In [39]:
country_enc = OneHotEncoder()
country_dummies = country_enc.fit_transform(df[['OdName']]).toarray()
country_dummies

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

## FINAL TASK

In [47]:
df = sns.load_dataset('titanic')
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB